body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(33,33,33,1) 25%, rgba(40,40,40,1) 40%, rgba(33,33,33,1) 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 0 10px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}