<!DOCTYPE html>
<html lang="en">
<head class="background">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokenea Aestethic</title>
    <link rel="stylesheet" href="../../public/indexcss.css">
</head>
<body>
    <div class="container">
        <h1>Explora el mundo ñeropokemon</h1>
        <div class="buttons">
            <a href="/pokenero/view" class="button">Entrada a la pokeNea aestethic</a>
            <a href="/pokenero/JSON" class="button">json de la pokeneadex</a>
        </div>
    </div>
</body>
</html>
